<div class="upper-bullet-container">
  <table>
    <tr>
      <td class='table-icon'><div><%=image_tag img_src%></div> </td>
      <td class='table-heading'><%=heading%></td>
    </tr>
  </table>
</div>
<div class="lower-bullet-container">
  <span><%=text%></span>
</div>
