<div class='attention-container'>
  <div class='centered-container'>
    <h1>Talking 3 Stuff</h1>
    <h2>Woody O'Time</h2>
    <table>
      <tr>
	<td style="padding-left:25px">
	  <div class='carousel'>
	    <%=render :partial=>'framed'%>
	    <%=image_tag('Orange-Hamster.png')%>
	  </div>
	</td>
	<td>
	  <h3>Stuff</h3>
	  
	    <ul>
	      <li>fdjgldfjgkldfjgldfkj gldfkjgdfklgj ldfjglkdf gjldfjgldk fjgldjfgkld fjgdfgdfkgj dflgjkldfjgld fkjgldfjgkldf jgldfkg</li>
	      <li>item 2</li>
	    </ul>
	 
	</td>
      </tr>
    </table>
  </div>
</div>

<div class="decision-container">
</div>
<%= render 'form' %>

<%= link_to 'Back', leads_path %>
