<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= if @sex == 'f' then 'Уважаемая' else 'Уважаемый' end%> <%= @name %>! </p>
    <p>Спасибо большое за заказ в магазине Хома Онлайн. Мы надеемся что наша игрушка принесет Вам много позитивных эмоций, а также будем Вам очень благодарны, если Вы оставите свой отзыв на нашем сайте <a href="homa-online.ru/#reviews">homa-online.ru</a></p>
    <p>По любым вопросам можете обращаться на нашу почту info@homa-online.ru. Желаем Вам Удачи!</p>
    
  </body>
</html>
