// Place all the styles related to the hamsters::videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.hamsters-video-container{
    .centered-container{position:relative;	}
    @include background-gradient('Background.png',rgb(79, 189, 227),rgb(143, 229, 255));
    position:relative;
    min-width:$global-width;
    padding:5px 0px;
    color:#ffffff;
    font-size:$font-size-large;
    text-shadow:rgba(0, 0, 0, 0.6) 0px 0px 5px;
    table{
	width:100%;
    }
    td{
	padding:25px;
	width:50%;
    }

}
