<div class="hamsters-compare-container">
  <div class="centered-container">
    <h1>What models outthere?</h1>
    <div class="table-container">
      
    <table width="100%" class="table table-hover">
      <th>Woody O'Time</th>
      <th>Jiba Jabas</th>
      <tr>
	<td><%=image_tag 'Orange-Hamster.png', id:'orange_hamster_image'%></td>
	<td><%=image_tag 'Blue-Hamster.png', id:'orange_hamster_image'%></td>
      </tr>
      <tr>
	<td>Price: 600-1800</td>
	<td>Price: 700-1200</td>
      </tr>
    </table>
    </div>
  </div>
</div>
