<div class="hamsters-compare-container">
  <div class="centered-container">
    <br />
    <h1>Какие модели хомячков сейчас можно купить</h1>
    <br />
    <div class="table-container">
      
      <table width="100%" class="table table-hover">
	<tr>
	  <th>Woody O'Time</th>
	  <th>Jiba Jabas</th>
	  <th>C...</th>
	</tr>
	<tr>
	  <td><%=image_tag 'Orange-Hamster.png', id:'orange_hamster_image'%></td>
	  <td><%=image_tag 'Blue-Hamster.png', id:'orange_hamster_image'%></td>
	  <td><%=image_tag 'Blue-Hamster.png', id:'orange_hamster_image'%></td>
	</tr>
	<tr>
	  <td>Цена: 600-1800</td>
	  <td>Цена: 700-1200</td>
	  <td>Цена: 700-1200</td>
	</tr>
      </table>
    </div>
  </div>
</div>
