<div class="hamsters-compare-container">
  <div class="centered-container">
    <br />
    <h1>Какие модели хомячков сейчас можно купить</h1>
    <br />
    <div class="table-container">
      
      <table width="100%" class="table table-hover">
	<tr>
	  <th>Название</th>
	  <th>Woody O'Time</th>
	  <th>Jiba Jabas</th>
	  <th>Takara</th>
	</tr>
	<tr>
	  <td>Изображение</td>
	  <td><%=image_tag 'Orange-Hamster.png', id:'orange_hamster_image'%></td>
	  <td><%=image_tag 'Blue-Hamster.png', id:'orange_hamster_image'%></td>
	  <td><%=image_tag 'Blue-Hamster.png', id:'orange_hamster_image'%></td>
	</tr>
	<tr>
	  <td>Цены в магазинах</td>
	  <td>Средние</td>
	  <td>Высокие</td>
	  <td>Низкие</td>
	</tr>
	<tr>
	  <td>Материал</td>
	  <td>Плюш</td>
	  <td>?</td>
	  <td>Плюш + ABS</td>
	</tr>
	<tr>
	  <td>Время зааиси голоса</td>
	  <td>8 сек</td>
	  <td>15 сек</td>
	  <td>6 сек</td>	
	<tr>
	  <td>Размер</td>
	  <td>17 х 11 х 11 см</td>
	  <td>16 х 9 х 9 см</td>
	  <td>15 х 13 х 12 см</td>
	</tr>
	<tr>
	  <td>Вес</td>	  
	  <td>?</td>
	  <td>190 грамм</td>
	  <td>131 грамм</td>
	</tr>
	<tr>
	  <td>Производитель</td>
	  <td>Китай</td>
	  <td>Китай</td>
	  <td>Китай</td>
	</tr>
      </table>
    </div>
  </div>
</div>
