<div class="hamsters-compare-container">
  <div class="centered-container">
    <br />
    <h1>Какие модели хомячков сейчас можно купить?</h1>
    <br />
    <p class="description">В настоящее время в России продаются три модели хомячков. В то время как многие магазины пытаются показать в белом свете своих хомячков и очернить другие модели, мы постарались провести объективное сравнение. С точки зрения трудозатрат, нам абсолютно без разницы, какую модель закупать, единственный важный для нас критерий - это продажа качественной игрушки для наших Покупателей! Если Вы не согласны с выводами наших исследований, будем очень благодарны, если Вы напишите свою точку зрения в <a style="color:#fff" href=<%="#{new_hamster_path}/#reviews"  %>>отзывах</a>. </p>
    <div class="table-container">
      <table width="100%" class="table table-hover">
	<tr>
	  <th>Название</th>
	  <th>Woody O'Time</th>
	  <th>Jiba Jabas</th>
	  <th>Takara</th>
	</tr>
	<tr>
	  <td>Изображение</td>
	  <td><%=image_tag 'Orange-Hamster.png', id:'orange_hamster_image'%></td>
	  <td><%=image_tag 'Jiba-Jabas.png', id:'orange_hamster_image'%></td>
	  <td><%=image_tag 'Takara.png', id:'orange_hamster_image'%></td>
	</tr>
	<tr>
	  <td>Цены в магазинах</td>
	  <td>Средние</td>
	  <td>Высокие</td>
	  <td>Низкие</td>
	</tr>
	<tr>
	  <td>Материал</td>
	  <td>Плюш</td>
	  <td>Плюш</td>
	  <td>Плюш + ABS</td>
	</tr>
	<tr>
	  <td>Время записи голоса</td>
	  <td>8 сек</td>
	  <td>8 сек</td>
	  <td>6 сек</td>
	</tr>
	<tr>
	  <td>Качество речи</td>
	  <td>Высокое</td>
	  <td>Среднее</td>
	  <td>Низкое</td>
	</tr>
	<tr>
	  <td>Размер</td>
	  <td>17 х 11 х 11 см</td>
	  <td>16 х 9 х 9 см</td>
	  <td>15 х 13 х 12 см</td>
	</tr>
	<tr>
	  <td>Вес</td>	  
	  <td>175 грамм</td>
	  <td>190 грамм</td>
	  <td>131 грамм</td>
	</tr>
	<tr>
	  <td>Производитель</td>
	  <td>Китай</td>
	  <td>Китай</td>
	  <td>Китай</td>
	</tr>
	<tr>
	  <td>Наше мнение</td>
	  <td>Лучший дизайн, хорошие материалы, отчетливая речь</td>
	  <td>Средний дизайн (непропорционально большая голова и вздернутый вверх нос), дорогой, проблемы с речью и двигательной функцией головы</td>
	  <td>Некачественный дизайн (в США и Китае эта игрушка называется крыса), плохие материалы, проблемы с речью</td>
	</tr>
	
      </table>
    </div>
  </div>
</div>
