@import url(http://fonts.googleapis.com/css?family=Scada:400italic,700italic,400,700&subset=latin,cyrillic);

$font-family-sans-serif: Scada, Georgia, "Times New Roman", Times, serif;
$global-width:1024px;


@import "twitter/bootstrap";
@import "leads";



.header-container {
    background-image: image_url('Background.png');
    background-color:rgb(46, 52, 61);
    min-width:$global-width;
    .centered-container{
	color:#ffffff;
	>img, >span{
	    display:inline-block;
	}

    }
}

.centered-container{
    width:$global-width;
    margin: 0 auto;
    
    }


.shop-name{
    position:relative;
    top: $headings-line-height*$font-size-large/2;
    }

.contacts{
    $contacts-font-size:24px;
    $logo-size: 113px;
    padding: 0px 15px 0px 0px;
    font-size:$contacts-font-size;
    line-height:$line-height-base * $contacts-font-size;
    float:right;
    text-align:right;
    position:relative;
    top: $logo-size / 2 - $line-height-base * $contacts-font-size;
    p {
	margin:0;
	}
    }

