// Place all the styles related to the leads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@-webkit-keyframes highlight{
    from{
	box-shadow: 0px 0px 0px 0px #ffcc66;
	opacity:0.9;
    }
    to{	box-shadow: 0px 0px 5px 5px #ffcc66;
	opacity:1;
      }
}

@-moz-keyframes highlight{
    from{
	box-shadow: 0px 0px 0px 0px #ffcc66;
	opacity:0.9;
    }
    to{	box-shadow: 0px 0px 5px 5px #ffcc66;
	opacity:1;
      }
}


@-keyframes highlight{
    from{
	box-shadow: 0px 0px 0px 0px #ffcc66;
	opacity:0.9;
    }
    to{	box-shadow: 0px 0px 5px 5px #ffcc66;
	opacity:1;
      }
}


.attention-container .btn, .decision-container .btn{

    border:0px;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-name: highlight;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -moz-animation-duration: 0.5s;
    -moz-animation-name: highlight;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate;
    -o-animation-duration: 0.5s;
    -o-animation-name: highlight;
    -o-animation-iteration-count: infinite;
    -o-animation-direction: alternate;
    animation-duration: 0.5s;
    animation-name: highlight;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
    @include gradient-vertical(#eb8016,#cc4504);
    color:#ffffff;
}


.attention-container{
    .centered-container{position:relative;	}
    @include background-gradient('Background.png',rgb(79, 189, 227),rgb(143, 229, 255));
    min-width:$global-width;
    padding:5px 0px;
    color:#ffffff;
    font-size:$font-size-large;
    text-shadow:rgba(0, 0, 0, 0.6) 0px 0px 5px;
    
    h1,h2{
	margin:5px 0px;
	text-align:center;
    }

    h2 {
	margin:5px 0px 25px 0px;
    }

    h3{
	margin:0px 0px 10px 0px;
	
    }

    table{
	width:100%;
    }
    td{
	position:relative;
	vertical-align:middle;
	width:50%;

    }

    .first-level-td{
	padding-left:25px;
    }

    li{
	
	max-width:$global-width/2;
	margin-bottom:10px;
    }
    
    .carousel-wrapper{
	position:relative;
	width:450px;
	height:(450/1.62)+px;
    }

    .btn{
	font-size:$font-size-base*2;
	position:relative;
	margin: 0 auto;
	top:20px;
	left:155px;
	border-radius:25px;
    }
    
    .carousel{
	.carousel-caption{
	    text-shadow:rgba(0, 0, 0, 0.9) 1px 1px 3px, rgba(0, 0, 0, 0.9) -1px -1px 3px;
	}

	.carousel-inner{height:(450/1.62)+px;}
	ol{bottom:0px;}
	li{margin:0px;}
	h3{color:#FFFCAE;
	   font-size:$font-size-base*2;
	   margin:0px;}
    }

    

    .upper-bullet-container{
	table{
	    table-layout:fixed;
	}
	.table-icon{
	    width:10%;
	    div{background:#000;
		border-radius:50%;}
	}
	.table-heading {
	    font-size:$font-size-base*1.75;
	    line-height:$font-size-base*2;
	    color:#fff;
	    text-shadow:none;
	}
	div{display:inline-block;}
	
    }

    .lower-bullet-container{
	text-shadow:none;
	color:$gray-darker;
	margin:5px 0px 10px 0px;
    }

}

.interest-container{
    
    padding-top:20px;
    @include background-gradient('Background.png',rgb(143, 229, 255),rgb(233, 253, 255));
    min-width:$global-width;
    font-size:$font-size-large;
    color:#fff;
    text-shadow:rgba(0, 0, 0, 0.6) 0px 0px 5px;
    

    h2{text-align:center;}

    table{
	width:100%;
    }
    td{
	padding:25px;
	width:50%;
    }
    
    .video{
	width:auto;
	position:relative;
	iframe {z-index:1;position:relative;}	
    }
}

.decision-container{
    @include background-gradient('Background.png',rgb(233, 253, 255),rgb(255, 255, 255));
    min-width:$global-width;
    padding:5px 0px 50px 0px;
    color:$gray;
    font-size:$font-size-large;

    table{width:100%}
    td{width:50%;padding:25px}
    .offer-container{
	text-align:center;
	border:2px solid #68b2cf;
	border-radius:50px;
	padding:20px 0px;
	@include gradient-vertical(#bbf2fa,#f9fdfa);
	margin:0 auto;
	width:300px;

	ul{text-align:left;}
	li{margin-bottom:5px;}
    }
    form .btn{
	font-size:$font-size-base*1.5;
	border-radius:15px;
	}
}

.new_lead{
    input:not(.btn), textarea{
	font-size:$font-size-base*1.5;
	padding:0px 10px;
    }
    select{
	font-size:$font-size-base*1.5;
	padding:0px 5px;
    }
    .error{
	font-weight:normal;
	color:#f00;
	}
}

.review-container{
    background-image: image_url('Background.png');
    background-color:#fff;
    text-align:center;
    h2{margin:0}

}

.modal
{
    font-size:$font-size-base*1.5;
    h4{font-size:$font-size-base*1.5*4/3;}
    .btn{font-size:$font-size-base*1.5;}
    }